aws_access_key = "AXXXXXXXXXXXXXXXXXXX"
aws_secret_key = "SXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
aws_region = "eu-central-1"
key_name = "deployer-key" 
aws_availability_zone = "eu-central-1a"
security_group = "sg-0433846d"
keypair = "AWS_SSH_Key"
master_instance_type = "t2.micro"
node_instance_type = "t2.micro"
ebs_root_block_size = "50"
aws_ami = "ami-a6a15dc9"
num_nodes = "2"
